@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
$font: 'Open Sans', Helvetica, Arial, sans-serif;
$grey: #222222;
$bl: #6094ab;
$oj: #807749;
$white: #fff;
$border: 1px solid $white;

.alerts-section {
  height: 100vh;
  background: url("wall.jpg");
  // background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    h1 {
      font-size: 25px;
    }
}
.sec {
  border-bottom: $border;
  margin: 1vh 0vh;
}
#spree {
  margin-bottom: 2vh;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.alerts-form-group {
  width: 60vw;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-text {
  font-family: $font;
  font-weight: 300;
  color: $white;
}

.form-text {
  align-self: flex-start;
  font-family: $font;
  font-weight: 300;
  color: #fff;
}

.form-control {
  border-radius: 0;
  margin-bottom: 1vh;
  width: 20vw;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 130px;
  margin: auto;
  margin-right: 3vw;
  margin-top: 10px;
  background-color: $oj;
  font-family: $font;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  text-decoration: none;
}
.form-btn:hover {
  background-color: $bl;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
.form-display {
  display: flex;
  justify-content: flex-start;
}
#pwd {
  border-radius: none;
}
